<!DOCTYPE HTML>
<html>

<head>
    <title>Socket</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            const socket = io({ query: { token: '<%= token %>' } })
            socket.on('logout', function () {
                $('#result').html('Logout')
            })
        });
    </script>
</head>

<body>

    <i id="result"></i>

    <a href="">Token: <%= token %></a>

</body>

</html>